.section-surah{
    a{
        text-decoration: none;
    }
    h1{
        color: #1c7664
    }
    .card:hover{
        box-shadow: #1c7664;
    }
}

.section-details{
    h2{
        color: #1c7664;
    }
}